* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  /* color */
  --black-color: #000000;
  --white-color: #ffffff;
  --light-gray: #cccccc;
  --navy-blue: #003366;
  /* --red-color: #D62C1A; */
  /* --red-color:#e54042; */

  /* font family */
  --primary-font: "Roboto";
}

body {
  font-family: var(--primary-font);
}

.container {
  max-width: 1432px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

p a,
ul li p a {
  color: var(--navy-blue);
}

p {
  line-height: 150%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 150%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3px;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 18px;
  font-weight: 400;
  background-color: var(--navy-blue);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  outline: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  border-color: var(--navy-blue);
  color: var(--navy-blue);
  background-color: transparent;
}

.btn:focus {
  box-shadow: none;
}

.mt-10 {
  margin-top: 100px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-3 {
  margin-top: 32px;
}

.heading {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 42px;
}

title {
  font-size: 24px;
  font-weight: 500;
}

.desc {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
}

.section {
  margin-block: 4rem;
}

.sec_content {
  max-width: 1024px;
  width: 100%;
  padding: 24px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: rgb(7 7 7 / 10%) 0px 7px 29px 0px;
}

.sec_heading {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  color: var(--navy-blue);
  line-height: 150%;
  margin-bottom: 40px;
}

.sec_title {
  font-size: 24px;
  color: var(--black-color);
  font-weight: 600;
  color: var(--navy-blue);
  margin-block: 10px;
}

.sub_title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.sec_desc {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 150%;
}

.sec_list {
  margin-bottom: 16px;
}

.sec_item {
  list-style: disc;
  margin-left: 16px;
  line-height: 150%;
  margin-bottom: 4px;
}

.sec_item strong {
  color: var(--navy-blue);
}

.sec_item::marker {
  color: var(--navy-blue);
}

/* header section */
.header {
  background-color: var(--white-color);
  position: sticky;
  right: 0;
  top: 0;
  left: 0;
  z-index: 999;
  transition: box-shadow 0.3s ease;
  /* background-color: var(--navy-blue); */
}

.header.shadow {
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
}

.header_wrappr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.header_logo {
  width: 14%;
}

.header_logoLnk {
  background-image: url(../images/logo.svg);
  height: 54px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}

.header_navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.header_item {
  padding-inline: 20px;
}

.header_link {
  color: var(--navy-blue);
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.header_link:hover,
.header_link.active {
  color: var(--navy-blue);
}

.header_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--navy-blue);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.header_link:hover::after .active {
  width: 100%;
  left: 0;
}

.header_link:hover::after {
  width: 100%;
  left: 0;
}

.header_link.active::after {
  width: 100%;
}

.header_right {
  display: flex;
  gap: 20px;
}

.header_right .btn {
  border-color: transparent;
  padding: 8px 16px;
  color: var(--navy-blue);
  background-color: var(--white-color);
  border-radius: 8px;
}

.header_right .btn:hover {
  border-color: var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}

.humburger {
  display: none;
}

.humburger_icon,
.close_menuIcon {
  background-image: url("../images/humburger.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close_menuIcon {
  background-image: url("../images/close.png");
  position: absolute;
  top: 24px;
  right: 15px;
  filter: invert(1);
}

.close_menu {
  display: none;
}

.header.fixheader {
  background-color: var(--black-color);
  box-shadow: rgb(238 238 238 / 56%) 0px 7px 29px 0px;
}

/* banner section */
.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner_homepage {
  background-image: url("../images/homepage-banner.jpg");
  height: 650px;
}

.banner_toronto {
  background-image: url("../images/toronto.avif");

}

.banner_vancouver {
  background-image: url("../images/vancouver.jpg");

}

.banner_montreal {
  background-image: url("../images/montreal.jpg");
}

.banner_about{
  background-image: url("../images/about-banner.jpg");
}
.banner_contact{
  background-image: url("../images/contact-us.jpg");
}
.banner_persoanlaData{
  background-image: url("../images/personal-data-banner.webp");
}
.banner_refund{
  background-image: url("../images/refund-banner.jpg");
}
.banner_privacy{
  background-image: url("../images/privacy-policy-banner.jpg");
}
.banner_terms{
  background-image: url("../images/term-condition-banner.jpg");
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner_content {
  max-width: 900px;
  text-align: center;
  width: 100%;
  padding-inline: 4px;
  margin: 0 auto;
  z-index: 1;
}

.banner_content .banner_heading {
  margin-bottom: 12px;
  font-size: 60px;
}

.banner_desc {
  color: var(--white-color);
  margin-bottom: 10px;
}

.banner_heading {
  font-size: 70px;
  line-height: 100%;
  color: var(--white-color);
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: -0.9px;
}

.banner_content .btn {
  padding: 10px 64px;
  border: none;
}

.banner_content .btn:hover {
  border-color: transparent;
  background-color: var(--white-color);
  color: var(--pre-blue);
}

.banner_btns a {
  padding: 12px 48px;
  border: 1px solid transparent;
}

.banner_desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.banner_btns {
  margin-top: 104px;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.banner_btns .btn:hover {
  color: var(--white-color);
}

.banner_left {
  width: 50%;
  margin-bottom: 12px;
  padding-inline: 5%;
}

.banner_right {
  width: 50%;
}

.banner_right {
  background-image: url("../images/banner.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

/* categoreis section */

.categories_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.categories_sec {
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.categories_sec:hover {
  transform: translateY(-10px);
}

.categories_img {
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 4px 4px 0px 0px;
  position: relative;
  display: block;
}

.categories_toronto .categories_img {
  background-image: url("../images/toronto.avif");
  background-position: top;
}

.categories_vancouver .categories_img {
  background-image: url("../images/vancouver.jpg");
  background-position: top;

}

.categories_montreal .categories_img {
  background-image: url("../images/montreal.jpg");

}

.categories_img::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 4px 4px 0px 0px;
  background-color: rgb(0 0 0 / 30%);
}

.categories_content {
  background-color: var(--navy-blue);
  text-align: center;
  padding: 4px;
  position: relative;
  z-index: 2;
  color: var(--white-color);
}

.categories_content p {
  font-weight: 700;
}

/* why section */
.why_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 48px;
  column-gap: 30px;
}

.why_sec {
  width: 100%;
  text-align: center;
  padding: 24px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.why_imgWrap {
  max-width: 60px;
  height: 60px;
  padding: 4px;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-blue);
}

.why_img {
  max-width: 32px;
  height: 32px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(1);
}

.why_sec--curated .why_img {
  background-image: url("../images/why1.png");
}

.why_sec--Ordering .why_img {
  background-image: url("../images/why2.png");
}

.why_sec--info .why_img {
  background-image: url("../images/why3.png");
}

.why_sec--Offers .why_img {
  background-image: url("../images/why4.png");
}

.why_sec--reviews .why_img {
  background-image: url("../images/why5.png");
}

.why_sec--support .why_img {
  background-image: url("../images/why6.png");
}

.why_title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navy-blue);
  margin-bottom: 12px;
}

.why_desc {
  font-size: 16px;
  font-weight: 400;
}

/* selected section */

.hotelSlct_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.hotelSlct_sec {
  width: 100%;
}

.hotelSlct_img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  position: relative;
  transition: 0.3s ease-in-out;
  background-image: url("../images/featured1.jpg");
}

.hotelSlct_sec--two .hotelSlct_img {
  background-image: url("../images/featured2.jpg");
}

.hotelSlct_sec--three .hotelSlct_img {
  background-image: url("../images/featured3.jpg");
}

.hotelSlct_sec--four .hotelSlct_img {
  background-image: url("../images/featured4.jpg");
}

.hotelSlct_img::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 0 0;
}

.hotelSlct_title {
  background-color: var(--navy-blue);
  color: var(--white-color);
  text-align: center;
  padding: 6px;
  font-size: 16px;
  font-weight: 400;
}

.middle {
  transition: .5s ease;
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 6px 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0;
  background-color: rgb(0 0 0 / 60%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.hotelSlct_sec:hover .middle {
  opacity: 1;
}

.hotelSlct_title {
  color: var(--white-color);
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
}

.hotelSlct_desc {
  color: var(--white-color);
  margin-bottom: 8px;
}

.hotelSlct_btn {
  border-color: transparent;
  margin-top: 12px;
}

.hotelSlct_btn:hover {
  border-color: var(--white-color);
  color: var(--white-color);
}


/* Signup section */
.signup {
  padding-block: 74px;
  background-image: url("../images/signup-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.signup::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 55%);
  z-index: 0;
}

.signup .container {
  z-index: 1;
  color: var(--white-color);
}

.signup_innerSec {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 30px 16px;
  background-color: rgb(0 0 0 / 56%);
}

.signup_heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.signup_desc {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
  text-align: center;
}

.signup_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 12px;
  border-radius: 8px;
}

.signup_input {
  border-radius: 4px;
}

.submit_btn {
  border-radius: 4px;
}

.signup_email {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 65%;
  margin: 0 auto;
  align-items: center;
}

.signup_input {
  padding: 10px 14px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
}

.signup_email::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.signup_form .signup_input {
  width: 100%;
  border: 1px solid transparent;
}

.signup_form .signup_input:focus {
  border-color: var(--navy-blue);
}

.submit_btn {
  width: 130px;
  color: var(--white-color);
  border-color: transparent;
}

.submit_btn:hover {
  border-color: var(--navy-blue);
  color: var(--navy-blue);
}

/* faq section */
.faq_wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.accordion-button {
  color: var(--white-color);
}

.accordion-button:not(.collapsed) {
  color: var(--white-color);
}

.accordion-button::after {
  color: white;
  filter: invert(1);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(2%) hue-rotate(48deg) brightness(104%) contrast(100%);
}

.accordion-flush .accordion-item .accordion-button {
  background-color: var(--navy-blue);
  margin-bottom: 8px;
}

.accordion-flush .accordion-item .accordion-button:hover {
  opacity: 0.8;
}

.accordion-flush .accordion-item .accordion-button:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.5px rgba(13, 110, 253, 0.25);
}

.accordion-body {
  border-radius: 8px;
  border-left: 4px solid var(--navy-blue);
  margin-bottom: 4px;
}

/* footer section */
.footer {
  color: var(--white-color);
  box-shadow: 1px 1px 20px 1px var(--white-color);
  background-color: var(--black-color);
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer a {
  color: var(--white-color);
}

.footer_sec {
  width: 22%;
}

.footer_content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-block: 50px;
}

.footer_icon {
  background-image: url("../images/logo.svg");
  height: 54px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  /* filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(84deg) brightness(107%) contrast(101%); */
}

.footer_title {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
}

.footer_link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  color: var(--white-color);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.footer_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--white-color);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.footer_link:hover::after {
  width: 100%;
  left: 0;
}

.footer_socialsWrapp {
  display: flex;
  gap: 10px;
}

.footer_social {
  border: 1px solid var(--white-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.footer_social:hover {
  border-color: var(--navy-blue);
  background-color: var(--navy-blue);
}

.social_link {
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s linear;
  filter: invert(1);
}

.footer_copyRight p {
  font-size: 14px;
}

.footer_copyRight a:hover {
  text-decoration: underline;
}

.social_link--fb {
  background-image: url("../images/fb.png");
}

.social_link--inta {
  background-image: url("../images/insta.png");
}

.social_link--twitter {
  background-image: url("../images/twitter.svg");
  filter: grayscale(1);
}

.social_link--linkedin {
  background-image: url("../images/inkedIn.svg");
  filter: grayscale(1);
}

.footer_btm {
  border-top: 1px solid var(--white-color);
}

.footer_btmSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
  gap: 10px;
  flex-wrap: wrap;
}

.footer_SSlLink {
  background-image: url("../images/ssl.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 32px;
  display: block;
}

/* pages section  */

.faq.section {
  margin: 0;
  padding-bottom: 60px;
}

/* toronto section */
.hotels {
  margin: 64px 0;
}

.hotels_wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.hotels_heading {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.hotels_sec {
  margin-bottom: 16px;
}

.hotels_secWrapp {
  display: flex;
  justify-content: space-between;
  background-color: var(--navy-blue);
  border-radius: 4px;
}

.hotels_contents {
  padding: 24px;
}

.hotels_title {
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
}

.hotels_right,
.hotels_left {
  width: 50%;
}

.hotels_right p {
  color: var(--white-color);
  margin-bottom: 16px;
}

.hotels_list {
  margin-bottom: 16px;
  list-style-type: disc;
  margin-left: 6%;
}

.hotels_items {
  color: var(--white-color);
}

.hotels_left {
  object-fit: cover;
}

.hotel_btmSec {
  margin-bottom: 12px;
  height: 0;  
  overflow: hidden;
  transition: height 0.5s ease-out; 
}

.hotel_btmSec.active {
  height: auto; 
}

.hotels_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}

.reverse .hotels_img {
  border-radius: 4px 0px 0px 4px;
}
.reverse .hotels_img::after  {
  border-radius: 4px 0px 0px 4px;
}
.hotels_img::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 30%);
  border-radius: 0px 4px 4px 0px
}

.hotels_sec--one .hotels_img {
  background-image: url("../images/toronto1.jpeg");
}

.hotels_sec--two .hotels_img {
  background-image: url("../images/toronto2.jpg");
}

.hotels_sec--three .hotels_img {
  background-image: url("../images/toronto3.jpg");
}

.hotels_sec--four .hotels_img {
  background-image: url("../images/toronto4.jpg");
}

.hotels_sec--five .hotels_img {
  background-image: url("../images/toronto5.jpg");
}

.hotels_sec--six .hotels_img {
  background-image: url("../images/toronto6.jpg");
}

.hotels_sec--seven .hotels_img {
  background-image: url("../images/toronto7.jpg");
}

.hotels_sec--eight .hotels_img {
  background-image: url("../images/toronto8.jpg");
}

.hotels_sec--nine .hotels_img {
  background-image: url("../images/toronto9.jpg");
}

.hotels_sec--ten .hotels_img {
  background-image: url("../images/toronto10.jpg");
}

.reverse {
  flex-direction: row-reverse;
}

.hotels .btn:hover {
  background-color: var(--white-color);
  color: var(--navy-blue);
}

/* vancouver section */
.hotels--vancouver .hotels_sec--one .hotels_img {
  background-image: url("../images/vancouver1.png");
}

.hotels--vancouver .hotels_sec--two .hotels_img {
  background-image: url("../images/vancouver2.png");
}

.hotels--vancouver .hotels_sec--three .hotels_img {
  background-image: url("../images/vancouver3.png");
}

.hotels--vancouver .hotels_sec--four .hotels_img {
  background-image: url("../images/vancouver4.png");
}

.hotels--vancouver .hotels_sec--five .hotels_img {
  background-image: url("../images/vancouver5.png");
}

.hotels--vancouver .hotels_sec--six .hotels_img {
  background-image: url("../images/vancouver6.png");
}

.hotels--vancouver .hotels_sec--seven .hotels_img {
  background-image: url("../images/vancouver7.png");
}

.hotels--vancouver .hotels_sec--eight .hotels_img {
  background-image: url("../images/vancouver8.png");
}

.hotels--vancouver .hotels_sec--nine .hotels_img {
  background-image: url("../images/vancouver9.png");
}

.hotels--vancouver .hotels_sec--ten .hotels_img {
  background-image: url("../images/vancouver10.png");
}


/* montreal section */
.hotels--montreal .hotels_sec--one .hotels_img {
  background-image: url("../images/montreal1.webp");
}

.hotels--montreal .hotels_sec--two .hotels_img {
  background-image: url("../images/montreal2.webp");
}

.hotels--montreal .hotels_sec--three .hotels_img {
  background-image: url("../images/montreal3.webp");
}

.hotels--montreal .hotels_sec--four .hotels_img {
  background-image: url("../images/montreal4.webp");
}

.hotels--montreal .hotels_sec--five .hotels_img {
  background-image: url("../images/montreal5.webp");
}

.hotels--montreal .hotels_sec--six .hotels_img {
  background-image: url("../images/montreal6.webp");
}

.hotels--montreal .hotels_sec--seven .hotels_img {
  background-image: url("../images/montreal7.webp");
}

.hotels--montreal .hotels_sec--eight .hotels_img {
  background-image: url("../images/montreal8.webp");
}

.hotels--montreal .hotels_sec--nine .hotels_img {
  background-image: url("../images/montreal9.webp");
}

.hotels--montreal .hotels_sec--ten .hotels_img {
  background-image: url("../images/montreal10.webp");
}

/* about section */
.secInfo {
  margin-block: 64px;
}

.secInfo_wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.secInfo_heading {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 12px;
  color: var(--navy-blue);
}
.secInfo_subHeading{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.secInfo_desc {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.secInfo_list {
  list-style: disc;
  margin-bottom: 16px;
  margin-left: 3%;
}

.secInfo_item strong {
  color: var(--navy-blue);
}
.secInfo_item  a{
  color: var(--navy-blue);
}
.secInfo_item  a:hover{
  color: var(--navy-blue);
}
.secInfo_item::marker {
  color: var(--navy-blue);
}
.secInfo_InnerList{
 margin-left: 2%;
}
.secInfo_InnerList li{
 list-style: circle;
}

/* contact us */
.contact {
  padding-block: 64px;

}
.contact_inner {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact_wrapp {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.contact_left,
.contact_right {
  width: 48%;
}

.contact_heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--navy-blue);
}

.contact_wrapp textarea{
  resize: none;
}
.contact_title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}

.contact_desc {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.contact_btm {
  margin-top: 12px;
}

.contact_input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  border: 1px solid var(--navy-blue);
  color: var(--navy-blue);
}

.contact_input:focus {
  border-color: var(--black-color);
}

.contact_input::placeholder {
  color: var(--navy-blue);
}

.contact_form {
  width: 100%;
  border-radius: 4px;
}

.contact_link {
  color: var(--navy-blue);
  display: inline-block;
  margin-bottom: 8px;
}

.contact_link:hover {
  color: var(--navy-blue);
}

.socials_wrapp {
  display: flex;
  gap: 20px;
  align-items: center;
}

.socials_wrapp .social .social_link {
  filter: invert(0);
}

.socials_wrapp .social .social_link--twitter {
  filter: invert(1);
}

.socials_wrapp .social {
  border: 1px solid var(--navy-blue);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.socials_wrapp .social:hover {
  background-color: var(--navy-blue);
}

.socials_wrapp .social:hover.social .social_link {
  filter: invert(1);
}

.socials_wrapp .social:hover.social .social_link--twitter {
  filter: invert(0);
}
/* contact page  section */
.contact--page .contact_wrapp {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgb(241 6 6 / 18%) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.contact--page .contact_heading{
  text-align: center;
}
.read_moreIcon {
  background-image: url("../images/down-arrowbtm.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  background-size: cover;
  display: inline-block;
  filter: invert(1);
}
.hotels .read_more {
  display: flex;
  align-items: center;
  gap: 4px;
}
.hotels .btn:hover .read_moreIcon {
  filter: brightness(0) saturate(100%) invert(17%) sepia(28%) saturate(3500%) hue-rotate(186deg) brightness(95%) contrast(108%);
}
 .read_moreIcon .hotel_btmSec.active {
  transform: rotate(180deg);
}
